<!-- public/partials/footer.ejs -->
</main>
<figure id="mongoose"> 
    <img src="../images/mongoose.png">
    <figcaption>Follow the mongoose, it will take you to FABULOUS destinations!!!</figcaption>
</figure>
</body>
</html>