<!-- public/partials/navbar.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Mongoose Flights Lab</title>
</head>
<body>
  <div id="navbar">
    <img src="../images/plane.png">
    <a href="/flights/index">Home</a>
    <a href="/flights/new">Add a Flight</a>
    <a href="/flights/all">Current Flights</a><br>
  </div>
  <main>