<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Mongoose Flights Lab</title>
</head>
<body>
  <!-- As a heading -->
  <div id="navbar">
    <a href="#home">Home</a>
    <a href="/new">Add a Flight</a>
    <a href="/all">All Flights</a>
  </div>
  <h1>Welcome to Mongoose Airlines</h1>
    <br></br>
</body>
</html>


