<!-- public/partials/navbar.ejs -->

<header id="navbar">
    <img src="images/plane.png">
    <a href="/index">Home</a>
    <a href="/flights/new">Add a Flight</a>
    <a href="/flights/all">All Flights</a><br>
</header>