<%- include('../partials/header') %>

<h3>Select Your Seat</h3>
    <div id="ticket-header">Before selecting your seat, please ensure that the it has not already been selected and is not in the following list:</div>
    <div id="badge-box">
        <section id="badge-container">
            
          </section>
    </div>
    <br>
<H4>Select Your Seat</H4>
<form action="/tickets" method="POST">    
    <label>ROW A & B:</label>
    <select name="seat">
        <option value=""></option>
        <option value="A1">A1</option>
        <option value="A2">A2</option>
        <option value="A3">A3</option>
        <option value="A4">A4</option>
        <option value="A5">A5</option>
        <option value="A6">A6</option>
        <option value="A7">A7</option>
        <option value="A8">A8</option>
        <option value="A9">A9</option>
        <option value="B1">B1</option>
        <option value="B2">B2</option>
        <option value="B3">B3</option>
        <option value="B4">B4</option>
        <option value="B5">B5</option>
        <option value="B6">B6</option>
        <option value="B7">B7</option>
        <option value="B8">B8</option>
        <option value="B9">B9</option>
        </select>
    <br>
    <label>ROW C & D:</label>
    <select name="seat">
        <option value=""></option>
        <option value="C1">C1</option>
        <option value="C2">C2</option>
        <option value="C3">C3</option>
        <option value="C4">C4</option>
        <option value="C5">C5</option>
        <option value="C6">C6</option>
        <option value="C7">C7</option>
        <option value="C8">C8</option>
        <option value="C9">C9</option>
        <option value="D1">D1</option>
        <option value="D2">D2</option>
        <option value="D3">D3</option>
        <option value="D4">D4</option>
        <option value="D5">D5</option>
        <option value="D6">D6</option>
        <option value="D7">D7</option>
        <option value="D8">D8</option>
        <option value="D9">D9</option>
        </select>
        <br>
        <label>ROW E & F:</label>
    <select name="seat">
        <option value=""></option>
        <option value="E1">E1</option>
        <option value="E2">E2</option>
        <option value="E3">E3</option>
        <option value="E4">E4</option>
        <option value="E5">E5</option>
        <option value="E6">E6</option>
        <option value="E7">E7</option>
        <option value="E8">E8</option>
        <option value="E9">E9</option>
        <option value="F1">F1</option>
        <option value="F2">F2</option>
        <option value="F3">F3</option>
        <option value="F4">F4</option>
        <option value="F5">F5</option>
        <option value="F6">F6</option>
        <option value="F7">F7</option>
        <option value="F8">F8</option>
        <option value="F9">F9</option>
        </select>
        <br>
    <label>Price:</label>
    <br>
    <input type="submit" value="Purchase Ticket">
</form>

<%- include('../partials/footer') %>