<%- include('../partials/header') %>

<h3>Select Your Seat</h3>
    <div id="ticket-header">Before selecting your seat, please ensure that the it has not already been selected and is not in the following list:</div>
    <div id="badge-box">
        <section id="badge-container">
        
            <article class="badge"></article>
        
        </section>
    </div>
    <br>
<form>    
    <input name="seat" required pattern="[A-F][1-9]\d?">
    <br>
    <input type="submit" value="Purchase Ticket">
</form>

<%- include('../partials/footer') %>